body {
    margin: 0;
}

.message {
    display: block;
    margin: 20px auto;
    width: 300px;
    background: #3498db;
    padding: 5px 15px;
    text-align: center;
    border-radius: 3px;
    color: #2c3e50;
}

.message a {
    color: #000;
}